:root {
  --shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.section {
  margin: 0 auto;
  padding: 15px;
  box-shadow: var(--shadow);
  border-radius: 15px;
  transition: box-shadow 0.2s ease-out;
}

.section:has(.submitted) {
  border-radius: 0;
  border-bottom: 1px solid black;
  box-shadow: none;
}

.section-title {
  text-align: center;
  margin-bottom: 15px;
}

.subsection {
  margin: 0 auto;
  width: 400px;
  margin-bottom: 25px;
  transition: width 0.2s ease-out;
}

.subsection:has(.submitted) {
  width: 19cm;
}
