:root {
  --shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.section {
  margin: 0 auto;
  padding: 15px;
  width: 50%;
  box-shadow: var(--shadow);
  border-radius: 15px;
  transition: width 0.1s linear, box-shadow 0.1s ease-out;
}

.section:has(div.submitted) {
  position: relative;
  width: 19cm;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 1px solid;
}

h2.section-title {
  margin-bottom: 0.8em;
}

.section.sent h2.section-title {
  text-align: center;
}

.subsection:not(:last-child) {
  margin-bottom: 15px;
}